mixin jira()
  +headerPage("Jira (cho “heo ăn”):")
  ol
    li Làm việc không có taks ở Jira.  10.000vnd/ticket
    li Không update task ở Jira hằng ngày và không giải trình được lý do. 10.000vnd/ticket
