mixin otherNotes()
  +headerPage("Mot so note khac:")
  ol
    li Nho dong cua khi vao toilet nam
    li Loc ky thuc an khi rua chen dia… o bon rua tay, ko duoc do vao do du chi la cong hanh…
    li Moi nguoi nho don dep 1 chut cho gon khi an uong hoac cat, got vo trai cay, tui mi tom…
