mixin otherNotes()
  +headerPage("Một số note khác: (không đóng tiền)")
  ol
    li Nhớ đóng cửa khi vào toilet nam.
    li Lọc kỹ thức ăn khi rửa chén đĩa... ở bồn rửa tay, không được đổ vào bồn rửa tay bất cứ thứ gì dù chỉ là cọng hành...
    li Mọi người nhớ dọn dẹp một chút cho gọn sau khi ăn uống hoặc cắt, gọt vỏ trái cây, túi mì tôm...
