mixin quyAnUong()
  +headerPage("Quỹ ăn uống:")
  ol
    li Cat toc, cai nay tu giac nha. Sau 2 ngay ma khong tu giac, co nguoi phat giac la  len bang 2 dong
    li Noi bay, noi ko hop ly (tinh theo so dong dong tinh)
    li Pass probation
    li Sinh nhat
    li Noi sai ten dong nghiep
    li Dang order ma chat chen vao hoac co nhung cau hoi khong hop ly trong luc order
    li An lon phan an cua nguoi khac
    li Order ma quen an phan an cua minh
    li Nhac nho nguoi khac lam soxes time lam that thu cua heo dat
    li Xuc pham dong nghiep tren 2 nguoi nghe duoc
    li De may tinh qua dem ma khong inform voi anh bo phan IT
    li “Dính” phai nhung loi ma >= 1/2 so  luong nguoi trong office dong y len bang
    li Promotion
    li Truoc khi ra ve phai dem ly nuoc lai nha bep. (chi tinh ly mau trang)

  .bs-callout.bs-callout-warning
    h4 Ngoai sinh nhat, probation va cat toc thi moi dong tren bang tuong ung 200k

  ol
    li Cat toc: 100k
    li Promotion: Min 200k va Max Open
    li Sinh nhat: Min 500K va Max Open... (Neu cty cho tien banh kem thi tien nay cung duoc sung vao cong qui, tom lai la den sinh nhat, nguoi do se phai ton it nhat 500k, 1 nguoi khoc de cho nhieu nguoi cuoi)
    li Pass probation 500k doi voi junior, 1000k doi voi senior
    li Thue thu nhap phat sinh khi nhan dc qua hoac bonus dac biet tu cty min 5%. (vi du nhu boc tham trung thuong, nhan vien cua nam….)
    li Neu mua dien thoai, tablet, smart watch hoac xe moi se phai dong thue, Cong thuc tinh thue duoc cung cap boi Truc.
    li Truoc khi ra ve phai dem ly nuoc lai nha bep: 10k/ly/ngay (vi du thu 6 ma de quen thi thu 2 len se co nguoi doi 30k tien Ly - CHI  AP DUNG DOI VOI LY TRANG CUA CTY)
