mixin quyAnUong()
  +headerPage("Quỹ ăn uống: (Đóng tiền)")
  ol
    li Pass probation 500.000VND đối với junior, 1.000.000VND đối với senior.
    li Promotion: Min 200.000VND - Max Open
    li Đang order mà chát chèn vào những câu không liên quan đến việc order. Những câu hỏi thắc mắc liên quan thì chát riêng với Trực hoặc Tiên. (Vì đang order mà chát nhiều vào thì thông tin bị nhiễu loạn, khó thống kê dẫn tới sai sót...). 200.000VND
    li Ăn lộn phần của người khác. 200.000VND
    li Order mà quên ăn phần của mình. 200.000VND
    li Để máy tính qua đêm mà không inform với bộ phận IT. 200.000VND
    li Trước khi ra về phải đem ly nước lại nhà bếp. (Chỉ áp dụng cho ly màu trắng của công ty và tiền này bỏ heo). 10.000VND/ly/ngày.

