mixin quyAnUong()
  +headerPage("Quỹ ăn uống:")
  ol
    li Cắt tóc (bao gồm cắt, uốn, sấy, gội, nhuộm... và tính theo số lần, ví dụ cắt và nhộm cùng một thời điểm được tính 1 lần thôi). Cái này phải tự giác nha, sau 2 ngày không tự giác mà bi phát giác là lên bảng 2 dòng.
    li Pass probation.
    li Promotion.
    li Sinh nhật.
    li Nói sai tên đồng nghiệp. (Không áp dụng trong group All, áp dụng khi nói chuyện và email)
    li Đang order mà chát chèn vào những câu không liên quan đến việc order. Những câu hỏi thắc mắc liên quan thì chát riêng với Trực hoặc Tiên. (Vì đang order mà chát nhiều vào thì thông tin bị nhiễu loạn, khó thống kê dẫn tới sai sót...).
    li Ăn lộn phần của người khác.
    li Order mà quên ăn phần của mình.
    li Để máy tính qua đêm mà không inform với bộ phận IT.
    li Sau 15:00 mà chưa trả chìa khoá cửa lại cho cty. (ngày hôm trước về sau cùng nên phải giữ chìa khoá).
    li Trước khi ra về phải đem ly nước lại nhà bếp. (Chỉ áp dụng cho ly màu trắng của công ty).
    li Khao đồ dùng mới mua như xe mới, điện thoại, tablet, smart watch mới... phải đóng thuế.
    

  .bs-callout.bs-callout-warning
    h4 Ngoài sinh nhật, probations, cắt tóc và quên cất ly thì mỗi dòng trên bảng tương ứng 200.000VN.

  ol
    li Cắc tóc: 100.000VND
    li Promotion: Min 200.000VND - Max Open
    li Sinh nhật: Min 500.000VND - Max Open... (Tiền bánh kem cty cho cũng được xung vào côngn quĩ, tóm lại là đến sinh nhật bạn phải tốn ít nhất 500.000VND. Một người khóc để cho nhiều người cười).
    li Pass probation 500.000VND đối với junior, 1.000.000VND đối với senior.
    li Thu nhập đặc biệt phát sinh từ cty 5% (Ví dụ như bốc thăm trúng thưởng, nhân viên của năm...)
    li Khao đồ dùng mới mua như xe mới, điện thoại, tablet, smart watch mới... phải đóng thuế. Công thức tính thuế được cung cấp bởi Trực.
    li Quên cất ly 10.000VND/ly/ngày. (Tiền này dùng để nuôi heo)
