mixin quyAnUong()
  +headerPage("Quỹ ăn uống:")
  ol
    li Pass probation.
    li Promotion.
    li Đang order mà chát chèn vào những câu không liên quan đến việc order. Những câu hỏi thắc mắc liên quan thì chát riêng với Trực hoặc Tiên. (Vì đang order mà chát nhiều vào thì thông tin bị nhiễu loạn, khó thống kê dẫn tới sai sót...).
    li Ăn lộn phần của người khác.
    li Order mà quên ăn phần của mình.
    li Để máy tính qua đêm mà không inform với bộ phận IT.
    li Trước khi ra về phải đem ly nước lại nhà bếp. (Chỉ áp dụng cho ly màu trắng của công ty).
    

  .bs-callout.bs-callout-warning
    h4 Ngoài probations, promotion và quên cất ly thì mỗi dòng trên bảng tương ứng 200.000VN.

  ol
    li Promotion: Min 200.000VND - Max Open
    li Pass probation 500.000VND đối với junior, 1.000.000VND đối với senior.
    li Quên cất ly 10.000VND/ly/ngày.
