mixin soxesTime()
  +headerPage("soXes time (cho “heo an”):")
  ol
    li Làm soXes time trễ hoặc sai => 10k/gio. Thoi gian duoc tinh tu luc 11h. (Vi du: Chi Ngoc bat soXes Time luc 2:30 => So tien phai “nop” heo la: 40k)
    li Ko lam soXes time cua nhung ngay truoc do (cai nay ko lam nhung chi Ngoc ko co kiem tra hoac kiem tra  nhung van ngoan co khong lam) => 10k/ngay.
