mixin soxesTime()
  +headerPage("soXes Time (cho “heo ăn”):")
  ol
    li Làm soXes time trễ hoặc sai => 10k/gio. Thời gian được tính từ 11:00AM. (Ví dụ: Chị Ngọc bắt soXes Time từ lúc 2:00PM ==> số tiền phải "nộp" heo là 40.000VND)
    li Không làm soXes Time của những ngày trước 10.000VND/ngày (Cái này chị Ngọc không kiểm tra hoặc có kiểm tra nhưng ngoan cố không làm).
